<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Admin Dashboard</h2>
        
        <div class="mt-4">
            <h4>Ticket Stocks</h4>
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .TicketStocks}}
                    <tr>
                        <td>{{.Event}}</td>
                        <td>{{.Stock}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <h4 class="mt-5">Booked Tickets</h4>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Event</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range .Tickets}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.Event}}</td>
                    <td>{{.Quantity}}</td>
                    <td>{{.TotalPrice | printf "Rp %.2f"}}</td>
                    <td>
                        <a href="/admin/update/{{.ID}}" class="btn btn-warning">Edit</a>
                        <a href="/admin/delete/{{.ID}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary mt-4">Create New Ticket</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
